@import url('https://fonts.googleapis.com/css2?family=Montserraut:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind utilities;

body{
  font-family: "Montserrat", snas-serif;
  font-optical-sizing:auto;
}